@import 'reset';
@import 'variables';
@import 'fonts';

@import 'components/header';
@import 'components/info';
@import 'components/tracker';
@import 'components/footer';
@import 'components/modal';
@import 'components/button';
@import 'components/input';

blockquote {
    position: relative;

    padding-left: 18px;
    margin-left: 8px;
    border-left: 3px solid $color-grey;

    font-family: "OpenSans";
    font-size: 18px;
    font-style: italic;
    color: $color-warm-grey;
}