// colors
$main-color: #979797;
$color-pink: #ef61a3;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #a8a8a8;
$color-grey60: rgba(168, 168, 168, 0.6);
$color-light-grey: #cecece;
$color-warm-grey: #878787;
$color-greyish-brown: #4d4d4d;
$color-kiwi-green: #a2df64;
$color-orangeish: #fc8636;
$color-red: #c10b18;


// breakpoints
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
